---
title: La demo Grill
---
<div class="container">
<section class="section-footer">
	<h2>
		We're Social
	</h2>
	<ul>
		<li>
			<a  href="http://www.yelp.com/biz/la-parrilla-middletown-3" target="_blank">
				<i class="fa fa-yelp fa-4x"></i>
			</a>
		</li>
		<li>
			<a  href="https://www.facebook.com/pages/La-Parrilla/128163077230054?ref=br_rs" target="_blank">
				<i class="fa fa-facebook  fa-3x"></i>
			</a>
		</li>
		<li>
			<a  href="https://www.google.com/maps/place/La+Parrilla+Mexican+Grill/@38.7474582,-122.6190671,3a,75y,306.23h,90t/data=!3m6!1e1!3m4!1syw2iJ7D7LSiewtR0rrp_lQ!2e0!7i13312!8i6656!4m2!3m1!1s0x0:0xcfd4ff5816a5fb0a!6m1!1e1" target="_blank">
				<i class="fa fa-google-plus  fa-3x"></i>
			</a>
		</li>
	</ul>
<br />
	<p>
		&copy; <%= Time.now.year %> 
		21389 Stewart St, Middletown, CA 95461 &nbsp; <a href="tel:7079874663">707.987.4663</a>
	</p>
</div>


