---
title: La demo Grill
---
<div class="container">
<section class="section-footer">
	<h2>
		We're Social
	</h2>
<ul>
	<li><a href="/"><i class="fa fa-camera-retro  fa-2x"></i></a></li>
	<li><a href="/"><i class="fa fa-camera-retro  fa-2x"></i></a></li>
	<li><a href="/"><i class="fa fa-camera-retro  fa-2x"></i></a></li>
</ul>
<br />
	<p>
		&copy; <%= Time.now.year %> 
		Demo
	</p>
</div>


