<div class="container">
<section class="section-footer">
  <aside>
	<p>
		&copy; <%= Time.now.year %> 
		La Parrilla Mexican Grill
	</p>
	<p>21389 Stewart St  – Middletown, CA 95461</p>
  </aside>
  <article>
	<strong>Follow us on:</strong><br />
	<a><i class="fa fa-facebook-square"> Facebook</i><br /></a>
	<a><i class="fa fa-instagram"> Instagram</i></a>
  </article>
</section>
</div>
