<div class="container">
<section class="section-footer">
<ul>
	<li><i class="fa fa-camera-retro fa-5x"></i></li>
	<li><i class="fa fa-camera-retro fa-5x"></i></li>
	<li><i class="fa fa-camera-retro fa-5x"></i></li>
</ul>
	<p>
		&copy; <%= Time.now.year %> 
		La Parrilla Mexican Grill
	</p>
</div>


