---
title: La demo Grill
---
<div class="container">
<section class="section-footer">
	<h2>
		We're Social
	</h2>
	<ul>
		<li>
			<a  href="http://www.yelp.com/biz/la-parrilla-middletown-3" target="_blank">
				<i class="fa fa-yelp fa-4x"></i>
			</a>
		</li>
		<li>
			<a  href="https://www.facebook.com/pages/La-Parrilla/128163077230054?ref=br_rs" target="_blank">
				<i class="fa fa-facebook  fa-3x"></i>
			</a>
		</li>
		<li>
			<a  href="https://www.instagram.com/la_parrilla_middletown/" target="_blank">
				<i class="fa fa-instagram fa-3x"></i>
			</a>
		</li>
	</ul>
<br />
	<p>
		&copy; <%= Time.now.year %> 
		21389 Stewart St, Middletown, CA 95461 &nbsp; <a href="tel:7079874663">707.987.4663</a>
	</p>
</div>


