<nav class="site-nav" role="navigation">
  <% link_to '/', class: 'navbar-brand' do %>
    Demo
  <% end %>
  <%= link_to 'Demo', '/index.html', :relative => true %>

  <div class="nav-links">
    <%= link_to 'About', '/about.html', :relative => true %>
    <%= link_to 'Our Menu', '/menu.html', :relative => true %>
    <%= link_to 'Contact', '/contact.html', :relative => true %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
