
// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
  @include clearfix;

  .navbar-brand {
    display: block;
    line-height: 0;
    padding: 2em 0;
    float: left;
    line-height: 0;
    font-family: Matrix-SmallCaps,serif;
    font-weight: 500;
    color: #ffc078;
    padding-top: 0.8em;
    padding-top: 1.6em;
    @include media($medium-screen) {
      padding: 0px;
      padding-top: 0.8em;
      font-size: 29px;
    }
  }

  .site-logo {
    display: block;
    border-radius: 100%;
    margin: auto;
  }

  .nav-links {
    
    height: 0;
    overflow: hidden;
    z-index: 2;
    float: right;
    @include media($medium-screen) {
      height: auto;
    }

    a {
      @include trailing-hovers;
      @include media($medium-screen) {
        display: block;
        float: left;
        line-height: 0;
        font-weight: bold;
        color: #ffdaae;

        // I removed the top and bottom padding of the header
        // and fattened up the touch targets on these links.
        // Now they're easier to click.
        padding: 1.5em;

        &:hover {
          background: #ffc078;
          color: #fff;
        }
      }
    }

    .nav-right {
      @include media($medium-screen) {
        float: right;
      }
    }
  }
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
  position: absolute;
  top: 2em;
  right: 1.5em;
  z-index: 2;

  @include media($medium-screen) {
    display: none;
  }

  i {
    font-size: 2em;
    line-height: 0;
    display: block;
    color: $white-smoke;
  }

  .icon {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }
}

// Menu active
.menu-active {

  .nav-links {
    z-index: 999;
    height: auto;
    overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(241, 241, 241, 0.95);
    box-shadow: 0 10px 10px rgba(0,43,54,.4);

    a {
      display: block;
      margin: 2em 0;
      text-align: center;
      color: #002B36;
    }
  }
}
