
// ------------------------------------------------------------
// about page
// ------------------------------------------------------------
.section-about {
	img { height:100%;}
	@include media($medium-screen) {
		@include outer-container;
		aside { 
			@include span-columns(4);

		}
		article {
			@include span-columns(8);
		}
	}
}
.about-founders {
	padding: 10px 0 10px 0;
	@include media($medium-screen) {
	padding: 70px;
}
	h2 { color: white;}
	p {
		color: white;
	}
}

// pannel 

.bgimage-pannel-founder {
  @include media($large-screen) {
    display: flex;
  }
  background-color: #3B8F3F;
  //background: url(../images/bgparrilla.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// ------------------------------------------------------------
//  menu page 
// ------------------------------------------------------------

.section-menu {
	h2 {
		color: #e60033;
	}
	strong {color: #3B8F3F;}
	@include media($large-screen) {
		@include outer-container;
		.article-description { @include span-columns(4); }
		.aside-description { @include span-columns(4); }
		.article-last { @include span-columns(4); }
	}
}
// menu hero unit 
.hero {
	h1 {
		font-size: 3em;
	    color: #3B8F3F;
	}
	@include media($large-screen) {height: 400px;}
	background: url(../images/demobg.png)no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 200px;
	display: flex;
	.container-inner {
		margin-left: auto;
		margin-right: auto;
		margin: auto;
		padding: 3.5em;
		text-align: center;
	}
}

// contact page 
.section-contact {
	img { height:100%;}
	@include media($large-screen) {
		@include outer-container;
		aside { 
			@include span-columns(5);
		}
		article {
			@include span-columns(7);
		}
	}
}
#map_canvas {
	@include media($large-screen) {
		height: 400px;
	}
	height: 200px;
	width: 100%;
	img { 
max-width: none; // to prevent UI control bug
}
}


#map_canvas .content {
	padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
}

#map_canvas #bodyContent p {
	font-size: 1em;
	margin: 0;
}

// ------------------------------------------------------------
//  demo gallery
// from http://codepen.io/koolhaus/pen/ajwcE
// ------------------------------------------------------------
.button {
	font-size: 13px;
	background-color: #eee;
	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
  &:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  }
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(204, 204, 204, 0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;

  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
    z-index: 9999;
	margin: 75px auto;
	padding: 20px;
    background: #C5EBF3;
	width: 300px;
	position: relative;
  
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}