// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
body {
  background: url(../images/modal_menu_bg.jpg);
}
// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;
  background: #fe9925;
}

.site-main {}

.site-footer {
  text-align: center;
  li{
      display: inline;
      margin-right: 3em;
    }
  @include media($medium-screen) {
  @include section_padding(1em);
  border-top: 1px solid #eee;
  ul {
    margin-bottom: 1em;
    li{
      //display: inline;
      //margin-right: 3em;
    }
  }
}
}
.section-footer {
   h2 {
      padding-bottom: 20px;
      color:#fa841a;
      font-family: "schoolbook-web",serif;
    }
    a {    color: #fa841a;}
    a:hover {    color:#e60033;}
  @include media($medium-screen) {
    line-height: 28px;
    text-align: center;
    @include outer-container;
    aside { @include span-columns(8); }
    article { @include span-columns(4); }
  }
}
// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}
p { 
  font-family: "proxima_novalight","brandon-grotesque",sans-serif;
  color: #7f7f7f;
}

// ------------------------------------------------------------
// SLideSho on click http://codepen.io/leemark/pen/Ddgsx
// ------------------------------------------------------------
.hero-slideshow {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  max-height: 600px;
  overflow: hidden;
  p {
    margin: 10px 20px;
    color: #fff;
  }
  a {
   color:#fff;
  }
}
figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
//  The problem was being caused by fractional widths. For example using 100% width
// https://css-tricks.com/forums/topic/css3-transition-opacity-causing-glitch-in-images/
  -webkit-transform: translateZ(0);
  width: calc(100% + .49px);
}
figcaption {
  position: absolute;
    @include media($medium-screen) {
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px; 
    a { color: #fff;}
  }
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
// ------------------------------------------------------------
// main info class
// ------------------------------------------------------------
.main-info {
  padding: 50px 0;
  p {
    line-height: 1.2;
    font-size: 1.2em;  
  } 
  @include media($large-screen) {
    padding: 130px 0;
    p {
      font-size: 2em;
    }
  }  
}
// ------------------------------------------------------------
// Three column with pannel 
// ------------------------------------------------------------
.bgimage-pannel {
  @include media($large-screen) {
    display: flex;
  }
  background: url(../images/demo-parrilla.png);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.three-col {
  @include outer-container;
      padding: 2em 0 2em 0;
  ul li {
    -moz-box-shadow: 0 0.056rem 0.056rem 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0.056rem 0.056rem 0 rgba(0,0,0,0.3);
    box-shadow: 0 0.056rem 0.056rem 0 rgba(0,0,0,0.3);
    background-color: #FFFFFF;
    margin-top: 40px;
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-right: 1.4em;
  }
  p {
    padding: 2em;
  }
  .card {
    background-color: #70e16a;
    opacity: 0.8;
    h1 {
      padding: 15px 10px;;
      text-align: center;
      color: #218c06;
    }
  }
  .card:hover {
    background-color: #727272;
    opacity: 1;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
    background-color: rgba(255,255,255,.4);
  }
  .group-quote {
    background-color: #FAEBD7;  
  }
  @include media($large-screen) {
    .col-1 { 
      @include span-columns(4);
    }
    .article-head {
      background-color: #e74c3c;
    }
    .col-2 {
      @include span-columns(4); 
    }
    .col-3 {
      @include span-columns(4); 
    }
  }
}

.second-pannel {
  background-color: #ffe4a9;
  padding: 50px 0;
  p {
    line-height: 1.2;
    font-size: 1.2em;  
  } 
  @include media($large-screen) {
    padding: 130px 0;
    p {
      font-size: 2em;
    }
  }
}

/// fade in

.fade-in-element {
  @include clearfix;
  text-align: center;
  width: 100%;
}
.js-fade-element-hide {
  opacity: 0;
}
.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}





