---
title: La demo | about
---
<div class="container role">
<br />
	<section class="section-about">
		<aside>
			<%= image_tag 'owners.jpg' %>
		</aside>
		<article>
			<h2>OUR STORY</h2>
			<p>
				We are a family run business who pride ourselves in serving the finest, sustainable fresh locally sourced products. Having served the Middletown area for over 6 years we know that quality is of the utmost importance, that’s why we’ve carefully selected our suppliers so that we can provide you with good quality, fresh ingredients
			</p>
		</article>
	</section>
</div>

<div class="bgimage-pannel-founder">
  <div class="container role">
    <section class="about-founders">
    	<h2>Meet the Founder</h2>
    	<p>
    		<%= lorem.sentences 6 %>
    	</p>
    </section>
  </div>
</div>