---
title: La Parrilla | Contact
---

<div class="container role">
	<h1>Contact</h1>
	<p>Located at the entrance to the amazing Trinity Kitchen street food court, we’re perfectly placed for a break from shopping, a quick feed on the way to the cinema or lunch away from your desk.

Serving up grab and go style, everything from nutritious pho noodle soups, delicious curries and spicy salads, you can grab a seat and wash it down with a fresh juice, wine or cold Vietnamese beer. Don’t forget to check out our huge pot of bubbling pho stock while you’re there!</p>
	<section class="section-contact">
		<aside>
			<div class="img__holder">
				<img class="restaurant__image" src="http://www.phocafe.co.uk/wp-content/uploads/2014/06/location_leeds.jpg" alt="">                              	</div>
				
			</aside>
		<article>
			<address>
				<p>Contact Us</p>
				<p>Address</p>
				<span>Trinity Kitchen,</span>
				<span> Leeds , LS1 5AY</span>
				<p>Telephone</p>
				<a><span>tel: </span>0113 834 5029</a>
				<p>Opening Times</p>
				<p>Monday to Thursday</p>
				<span>11:30am - 9pm</span>
				<p>Friday to Saturday</p>
				<span>11:30am - 9:30pm</span>
				<p>Sunday</p>
				<span>11:30am - 6pm</span>
			</address>
		</article>
	</section>

	<!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(59.342457, 18.057340),
        mapCenter = new google.maps.LatLng(59.340458, 18.057340),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>

<div id="map_canvas"></div>
</div>

