<div class="container role">
	<section>
		<h2>Appetizers</h2>	
		<div class="expander">
			<strong >
				Taquitos Dorados &nbsp; $5.50
				<div class="arrow-down"></div>
			</strong><br />
			<em>
				Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
			</em>
		</div>

		<div class="wrapper">
			<div class="content">
				<div class="popupone"> 
					<h3>Taquitos Dorados &nbsp; $5.50</h3>
					<div class="content">
						<div class="modal-image">
							<%= image_tag 'bg-dish.png' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of expander -->
		<div class="expander">
			<strong >
				Taquitos Dorados &nbsp; $5.50
				<div class="arrow-down"></div>
			</strong><br />
			<em>
				Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
			</em>
		</div>

		<div class="wrapper">
			<div class="content">
				<div class="popupone"> 
					<h3>Taquitos Dorados &nbsp; $5.50</h3>
					<div class="content">
						<div class="modal-image">
							<%= image_tag 'demo-parrilla.png' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of expander -->
	</section>
</div>