<div class="container role">
	<section class="demo-food">
		<h2>Appetizers</h2>
		<article class="left-article">
			<div class="expander">
				<strong >
					Taquitos Dorados &nbsp; $5.50
					<div class="arrow-down"></div>
				</strong>
			</div>

			<div class="wrapper">
				<div class="content">
					<div class="popupone"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
							<div class="modal-image">
								<%= image_tag 'bg-dish.png' %>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of expander -->
		</article>	
		<article class="right-article">
			<div class="expander">
				<strong >
					Taquitos Dorados &nbsp; $5.50
					<div class="arrow-down"></div>
				</strong><br />
				<em>
					Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
				</em>
			</div>

			<div class="wrapper">
				<div class="content">
					<div class="popupone"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
							<div class="modal-image">
								<%= image_tag 'demo-parrilla.png' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of expander -->
		</article>
	</section>
</div>