<div class="container role">
	<div class="section-menu">
		<div class="menu-item-left">
			<div id="accordion-menu">
				<div>
					<h2>Appetizers </h2>
					<a href="#" class="open"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Sopesitos &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Sopesitos &nbsp; $5.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'demo-parrilla.png' %>
							</div>
							<p>
								<em>
								Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end of menu item left -->

		<div class="menu-item-center">
			<div id="accordion-menu">
				<div>
					<h2>Accordion 1</h2>
					<a href="#" class="open"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
							<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end of menu item center -->

		<div class="menu-item-right">
			<div id="accordion-menu">
				<div>
					<h2>Accordion 1</h2>
					<a href="#" class="open"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
							<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end of menu item right -->

	</div>	<!-- end of section -->
</div>