<div class="container role">
<section>
	<article class="left-menu">
		<ul class="accordion-menu">
			<li class="open">
				<header onclick="toggle(this.parentNode)"><span class="title">Taquitos Dorados &nbsp; $5.50</span></header>
				<section class="content">
					<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</p>
				</section>
			</li>
		</ul>
	</article>
  <article class="center-menu">
  	<ul class="accordion-menu">
			<li class="open">
				<header onclick="toggle(this.parentNode)"><span class="title">Cosmetic Fillings</span></header>
				<section class="content">
					<p>Alternative, natural-looking materials to conventional silver-colored fillings made from porcelain and composite resins, which are colored to match natural tooth enamel.</p>
					
				</section>
			</li>
		</ul>
  </article>
   <article class="right-menu">
  	<ul class="accordion-menu">
			<li class="open">
				<header onclick="toggle(this.parentNode)"><span class="title">Cosmetic Fillings</span></header>
				<section class="content">
					<p>Alternative, natural-looking materials to conventional silver-colored fillings made from porcelain and composite resins, which are colored to match natural tooth enamel.</p>
				</section>
			</li>
		</ul>
  </article>
</section>

</div>