 <div class="sectionheader" id="apps">Appetizers</div>
  <section class="appetizers">
    <div class="container">
        <div class="foodcard" id="foodcard1">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
        </div>
        <div class="foodcard" id="foodcard2">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
        </div>
     </div>
  </section>
  <div class="sectionheader" id="trees">Entrees</div>
  <section class="entrees">
    <div class="container">
        <div class="foodcard" id="foodcard1">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
        </div>
        <div class="foodcard" id="foodcard2">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
    </div>
        </div>
  </section>
  <div class="sectionheader" id="zerts">Desserts</div>
  <section class="deserts">
    <div class="container">
        <div class="foodcard" id="foodcard1">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
        </div>
        <div class="foodcard" id="foodcard2">
          <div class="info">
              <div class="dishtitle" id="clickable">Dish Title</div>
              <p class="description" id="slidable">Lorem ipsum and stuff about the dish. Maybe ingredients and nutrition facts. Basil, coriander, other things. Just text random HelloWorld #hellokitchen. More information.</p>
          </div>
    </div>
        </div>
  </section>
        <div id= "signup">
            <div class= "btn container">Sign up now!</div>
        </div>