<div class="container">
<div class="section-gallery">
    <div class="sectionheader">Gallery</div>
    <section class="foodcard-left">
      <div class="foodcard" id="foodcard-image">
        <div class="info">
          <div class="dishtitle">Dish Title</div>
          <p><%= lorem.sentences 3 %>  </p>
        </div>
      </div>
    </section>

    <section class="foodcard-right">
      <div class="foodcard" id="foodcard-image">
        <div class="info">
          <div class="dishtitle">Dish Title</div>
          <p><%= lorem.sentences 3 %>  </p>
        </div>
      </div>
    </section>

    <section class="foodcard-right">
      <div class="foodcard" id="foodcard-image">
        <div class="info">
          <div class="dishtitle">Dish Title</div>
          <p><%= lorem.sentences 3 %>  </p>
        </div>
      </div>
    </section>
  </div>
</div>