<div class="container">
  <h1>What forces shape you?</h1>
<section class="gallery-container">
  <!--El div .previa se acciona con js para realizar la vista de la imagen en tamaño grande width="525" height="600"-->
  <div id="previa">
    <div id="imgFull">
      <img src="" alt="" width="100%"/>
    </div>
  </div>
  <div class="gallery">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/64/71/8b6471891abca49c20a1ea1db3218eea.jpg" alt="736x/8b/64/71/8b6471891abca49c20a1ea1db3218eea" width="225" height="300"/>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/31/5f/72/315f728eaf61b1e3c253711d57ae65d5.jpg" alt="736x/31/5f/72/315f728eaf61b1e3c253711d57ae65d5" width="225" height="300"/>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/9b/e5/f7/9be5f790a236fa62c3b86e9f75925fde.jpg" alt="736x/9b/e5/f7/9be5f790a236fa62c3b86e9f75925fde" width="225" height="300"/>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/d1/4d/b8/d14db8b885a1807cc3c3b24bc4eab064.jpg" alt="736x/d1/4d/b8/d14db8b885a1807cc3c3b24bc4eab064" width="225" height="300"/>
  </div>
</section>
</div>