<div class="container">
  <div id="modalA" class="modal-frame">
    <div id="modalA" class="modal">
      <div  id="modalA" class="modal-inset">
        <div id="modalA" class="button close"><i class="fa fa-close"></i></div>

        <div id="modalA" class="modal-body">
          <%= image_tag 'demobg.png' %>
          <h3 id="modalA">Such Modal, Much Animate!</h3>
          <p id="modalA">Nothing groundbreaking, but I hope you enjoyed <br /> the physics for the open/close animation =).</p>
          <p id="modalA" class="ps">**I know the SASS is a bit messy, I did this on the fly and for fun <br /> and w.e. I DO WHAT I WANT!!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-overlay"></div>

  <a href="#modalA" class="fancy-btn open">Gallery</a>
  <!--<button class="fancy-btn open">Gallery</button>-->
  <div id="modalb" class="modal-frame">
    <div id="modalb" class="modal">
      <div  id="modalb" class="modal-inset">
        <div id="modalb" class="button close"><i class="fa fa-close"></i></div>

        <div id="modalb" class="modal-body">
          <%= image_tag 'demobg.png' %>
          <h3 id="modalb">Such Modal, Much Animate!</h3>
          <p id="modalb">Nothing groundbreaking, but I hope you enjoyed <br /> the physics for the open/close animation =).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-overlay"></div>

  <a href="#modalb" class="fancy-btn open">Gallery</a>
</div>
