<div class="container">
  <h1>Popup Modal </h1>
  <div id="popup1" class="overlay">
    <div class="popup"> 
      <h3>Taquitos Dorados 1 &nbsp; $5.50</h3>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="modal-image">
          <%= image_tag 'bg-dish.png' %>
        </div>
        <p>
          <em>
            Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
          </em>
        </p>
      </div>
    </div>
  </div>

  <div>
    <a class="fancy-btn" href="#popup1">
      <strong>
        Taquitos Dorados &nbsp; $5.50
      </strong>
    </a><br />
    <em>
      Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
    </em>
  </div>
  <!-- end of modal -->
<div class="container">
  <h1>Popup Modal </h1>
  <div id="popup2" class="overlay">
    <div class="popup"> 
      <h3>Taquitos Dorados 2 &nbsp; $5.50</h3>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="modal-image">
          <%= image_tag 'bg-dish.png' %>
        </div>
        <p>
          <em>
            Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
          </em>
        </p>
      </div>
    </div>
  </div>

  <div>
    <a class="fancy-btn" href="#popup2">
      <strong>
        Taquitos Dorados &nbsp; $5.50
      </strong>
    </a><br />
    <em>
      Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
    </em>
  </div>
 <div class="container">
  <h1>Popup Modal </h1>
  <div id="popup3" class="overlay">
    <div class="popup"> 
      <h3>Taquitos Dorados 3 &nbsp; $5.50</h3>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="modal-image">
          <%= image_tag 'bg-dish.png' %>
        </div>
        <p>
          <em>
            Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
          </em>
        </p>
      </div>
    </div>
  </div>

  <div>
    <a class="fancy-btn" href="#popup3">
      <strong>
        Taquitos Dorados &nbsp; $5.50
      </strong>
    </a><br />
    <em>
      Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
    </em>
  </div>
</div>
