<div class="container">
  <ul class="image-set">
    <li><img src="https://m1.behance.net/rendition/modules/80050987/disp/eef2ba90777a9022e9725e4c38928340.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050991/disp/e44b7512bde746791480ccf80ab81e54.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050995/disp/9dd35d74556ea28d20f731390532c9fb.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050993/disp/9f0690e3587536ae02a854308b27c04f.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050995/disp/9dd35d74556ea28d20f731390532c9fb.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80051003/disp/939a4fef4783500ca382818cf3bd8c3d.jpg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80051003/disp/939a4fef4783500ca382818cf3bd8c3d.jpg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050993/disp/9f0690e3587536ae02a854308b27c04f.jpeg" /></li>
    <li><img src="https://m1.behance.net/rendition/modules/80050987/disp/eef2ba90777a9022e9725e4c38928340.jpeg" /></li>
  </ul>
</div>