<div class="container">

  <section class="v-center">
<div>
  <h2>Stupid Simple Popups</h2>
  <p>Reuseable reveal popups via data-attributes, a touch of jquery, and a dash of css </p>
  <br/>
<a class="js-open-modal btn" href="#" data-modal-id="popup1"> Pop Up One</a>
<a class="js-open-modal btn" href="#" data-modal-id="popup2"> Pop Up Two</a>
</div>
</section>



<div id="popup1" class="modal-box">  
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>Pop Up One</h3>
  </header>
  <div class="modal-body">
    <p><strong>Sup Homeslice? I be PopUp1</strong> <br/>
    I'm defined via a unique data attribute on the open link and associated modal div. In this case:
    </p>
    <pre>data-modal-id="popup1"</pre>
  </div>
  <footer>
    <a href="#" class="btn btn-small js-modal-close">Peas Out</a>
  </footer>
</div>

<div id="popup2" class="modal-box">  
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>Pop Up Deuce Deuce</h3>
  </header>
  <div class="modal-body">
    <p><strong>What's crackin Playa? I be PopUp2.</strong><br/>
    I'm defined via a unique data attribute on the open link and assoicated modal div. In this case:</p>
    <pre>data-modal-id="popup2"</pre>
  </div>
  <footer>
    <a href="#" class="btn btn-small js-modal-close">Outtie</a>
  </footer>
</div>

</div>
