<div class="container">

  <section class="modal bg--purple" role="dialog" id="modalA" aria-labelledby="modalA-title" aria-describedby="modalA-description">
    <a href="#" class="modal-exit" title="close">&times;</a>
    <h1 id="modalA-title" class="modal-title">Modal A</h1>
    <p id="modalA-description" class="modal-description">Lots of fun things in here to see.</p>
  </section>

  <section class="modal bg--blue" role="dialog" id="modalB" aria-labelledby="modalB-title" aria-describedby="modalB-description">
  <a href="#" class="modal-exit" title="close">x</a>

    <div id="modalB-description" class="modal-description container">
    <div class="modal-image">
      <%= image_tag 'taco.jpg' %>
    </div>
      <h1>Modal B</h1>
      <p>Lots of fun things in here to see.</p>
    </div>
  </section>




  <a href="#modalA" class="modal-open">
    View Modal A
  </a>
  <a href="#modalB" class="modal-open">
    View Modal B
  </a>

</div>
