<div class="container">
  <a href="#openModal1">Box 1</a>

  <div id="openModal1" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <div class="modal-image">
          <%= image_tag 'taco.jpg' %>
        </div>
      <h2>Modal Box 1</h2>
      <p>This is a sample modal box that can be created using the powers of CSS3.    </p>
      <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
    </div>
  </div>
  <a href="#openModal2">Box 2</a>

  <div id="openModal2" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <div class="modal-image">
          <%= image_tag 'demo-parrilla.png' %>

        </div>
      <h2>Modal Box 2</h2>
      <p><strong>Box 2</strong></p>
      <p>yadda yadda</p>
    </div>
  </div>
</div>





<div class="modal-frame">
  <div class="modal">
    <div class="modal-inset">
      <div class="button close"><i class="fa fa-times"></i></i></div>
      <div class="modal-body">
        <div class="modal-image">
          <%= image_tag 'taco.jpg' %>
        </div>
        <h3>Taquitos Dorados &nbsp; $5.50</h3>
        <p>
          <em>
            Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
          </em>
        </p>
        <p class="ps">**I know the SASS is a bit messy, I did this on the fly and for fun <br /> and w.e. I DO WHAT I WANT!!</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-overlay"></div>


<strong class="fancy-btn open">
  Taquitos Dorados &nbsp; $5.50
</strong>
