<div class="container">
  <article>
  <h1>Blah blah</h1>
  <p>
    <a href="#" class="open-modal modal-1">Trigger Modal 1</a>
  </p>
  <p>
    <a href="#" class="open-modal modal-2">Trigger Modal 2</a>
  </p>
  <p>
    <%= lorem.sentences 5 %>
  </p>
</article>

<div class="modal modal-1">
  <span class="modal-overlay"></span>
  <div class="modal-content">
    <div>
      <img src="http://imgur.com/MPKIpGd.png" class="close-modal">
      <h1>Modal 1</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ut facilis delectus temporibus optio amet esse laudantium hic libero molestias nisi at magni iste distinctio natus eveniet fugit quas dolorem!
      </p>
    </div>
  </div>
</div>

<div class="modal modal-2">
  <span class="modal-overlay"></span>
  <div class="modal-content">
    <div>
      <img src="http://imgur.com/MPKIpGd.png" class="close-modal">
      <h1>Modal 2</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ut facilis delectus temporibus optio amet esse laudantium hic libero molestias nisi at magni iste distinctio natus eveniet fugit quas dolorem!
      </p>
    </div>
  </div>
</div>
</div>
