<div class="container">

  <h1>Simple Responsive Modal</h1>
<button>Click For Modal</button>
<div class="overlay">
  <div class="modal">
    <img src="http://cdn.flaticon.com/png/256/8915.png" alt="" /> I'm a modal
  </div>
</div>
</div>
