---
title: La Parrilla | Menu
---

<div class="container role">
	<h1>Menu</h1>
	<section class="section-menu">
		<article class="article-description">
		<h2>Appetizers</h2>
			<p>
				<strong>
					Taquitos Dorados &nbsp; $5.50
				</strong>
				<br>
				<em>
					Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
				</em>
			</p>
			<p>
				<strong>Sopesitos &nbsp; $5.50</strong><br>
				<em>
					Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
				</em>
			</p>
			<p>
				<strong>Tostaditas &nbsp; $6.50</strong><br>
				<em>Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.</em>
			</p>
			<p>
				<strong>Nachos &nbsp; $6.75 </strong><br>
				<em>Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong></em>
			</p>
			<p>
				<strong>Coctel de Camaron (Appetizer) &nbsp; $8.00</strong><br>
				<em>Shrimp cured with lime, olive oil, house cocktail sauce, avocado, cilantro and onion. Served with crackers.</em>
			</p>
			<p>
				<strong>Chips and Salsa &nbsp; $1.00</strong><br>
				<em>Crispy, corn tortillas served with housemade, zesty salsa</em>
			</p>
		</article>

		<aside class="aside-description">
			<h2>Quesadillas</h2>
			<p>
				<strong>
					Quesadilla &nbsp;$9.50 
				</strong>
				<br>
				<em>
					Flour tortilla, served with a side of house black beans, filled with melted cheese and your choice of meat:Carne Asada, Al Pastor, Pollo Adobado or Grilled Shrimp
				</em>
			</p>

			<h2>Queso Carne</h2>
			<p>
				<strong>
					Queso Carne &nbsp;$13.50
				</strong>
				<br>
				<em>
					Your Choice of meat mixed with melted Monterey jack cheese, served with salsa, corn tortillas, rice & house black beans.
					Meat selections:Pollo Adobado, Carne Asada, or Al Pastor
				</em>
			</p>
		</aside>

		<article class="article-last">
			<h2>Queso Carne</h2>
			<p>
				<strong>
					Queso Carne &nbsp;$13.50
				</strong>
				<br>
				<em>
					Your Choice of meat mixed with melted Monterey jack cheese, served with salsa, corn tortillas, rice & house black beans.
					Meat selections:Pollo Adobado, Carne Asada, or Al Pastor
				</em>
			</p>
			<h2>A la carte</h2>
			<p>
				<strong>Taco &nbsp; $2.50</strong>
				<br>
				<em>
					Soft Corn tortilla topped with cilantro, onion & salsa. Choose either Carne Asada (Steak), Al Pastor (Spicy Marinated Pork), Chorizo (Spicy Sausage), or Pollo Adobado (Shredded Marinated Chicken).
				</em>
			</p>
			<p>
				<strong>Veggie Taco &nbsp; $2.50</strong>
				<br>
				<em>
					rice, beans, cilantro, onion, salsa, lettuce, queso fresco
				</em>
			</p>
			<p>
				<strong>
					Seafood Taco &nbsp; $5.50
				</strong>
				<br>
				<em>Your choice of Grilled Shrimp or Grilled Fish. Served with a side of rice.</em>
			</p>
			<p>
				<strong>Enchilada &nbsp; $4.00</strong>
				<br>
				<em>
					Choice of Chicken Enchilada, Suizas, Mole Poblano, Michoacanas or Veggie
				</em>
			</p>
			<p>
				<strong>Bean and Rice Burrito &nbsp; $6.50</strong>
				<br>
			</p>
			<p>
				<strong>Cheese Quesadilla &nbsp; $6.50</strong>
				<br>
				<em>
					Melted Monterrey Jack cheese in a flour tortilla. Served with housemade black beans.
				</em>
			</p>
		</article>
	</section>
	<hr />
	<section class="section-menu">
		<article class="article-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>

		<aside class="aside-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</aside>

		<article class="article-last">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>
	</section>
</div>	
