---
title: La Parrilla | Menu
---

<div class="container role">
	<h1>Menu</h1>

	<div class="menu-modal-sections">
		<div class="menu-modal-section">
			<h2 class="section-title">Nachos</h2>
			<p class="section-description"></p>
			<div class="menu-modal-sub-section">
				<div class="menu-modal-item">
					<h4 class="menu-modal-item-title">Nachos</h4>						
					<p class="menu-modal-item-desc">With Melted Cheddar, Sour Cream, Homemade Guacamole, Jalapenos and Salsa (V)</p>						
					<p class="menu-modal-item-price">£7.95</p>
				</div>
				<div class="menu-modal-item">
					<h4 class="menu-modal-item-title">Chilli Beef Nachos</h4>
					<p class="menu-modal-item-desc">Chilli Beef with melted Cheddar, Sour Cream, Homemade Guacamole, Jalapenos &amp; Salsa </p>					
					<p class="menu-modal-item-price">8.95</p>
				</div>
			</div>	
		</div>

		<div class="menu-modal-section">
			<h2 class="section-title">Wings</h2>
			<p class="section-description">Buffalo or Tennessee? Served with homemade blue cheese dip and celery sticks.</p>
			<div class="menu-modal-sub-section">
				<div class="menu-modal-item">
					<h4 class="menu-modal-item-title">10 Wings</h4>						
					<p class="menu-modal-item-price">£6.95</p>
				</div>
				<div class="menu-modal-item">
					<h4 class="menu-modal-item-title">20 Wings</h4>						
					<p class="menu-modal-item-price">£12.50</p>
				</div>
			</div>	
		</div>

	</div>
</div>	
