---
title: La Parrilla | Menu
---

<div class="container role">
	<h1>Menu</h1>
	<section class="section-menu">
		<article class="article-description">
		<h2>Appetizers</h2>
			<p>
				<strong>
					Taquitos Dorados &nbsp; $5.50
				</strong>
				<br>
				<em>
					Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
				</em>
			</p>
			<p>
				<strong>Sopesitos &nbsp; $5.50</strong><br>
				<em>
					Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
				</em>
			</p>
			<p>
				<strong>Tostaditas &nbsp; $6.50</strong><br>
				<em>Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.</em>
			</p>
			<p>
				<strong>Nachos &nbsp; $6.75 </strong><br>
				<em>Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong></em>
			</p>
			<p>
				<strong>Coctel de Camaron (Appetizer) &nbsp; $8.00</strong><br>
				<em>Shrimp cured with lime, olive oil, house cocktail sauce, avocado, cilantro and onion. Served with crackers.</em>
			</p>
			<p>
				<strong>Chips and Salsa &nbsp; $1.00</strong><br>
				<em>Crispy, corn tortillas served with housemade, zesty salsa</em>
			</p>
			<h2>Quesadillas</h2>
			<p>
				<strong>
					Quesadilla &nbsp;$9.50 
				</strong>
				<br>
				<em>
					Flour tortilla, served with a side of house black beans, filled with melted cheese and your choice of meat:Carne Asada, Al Pastor, Pollo Adobado or Grilled Shrimp
				</em>
			</p>

			<h2>Queso Carne</h2>
			<p>
				<strong>
					Queso Carne &nbsp;$13.50
				</strong>
				<br>
				<em>
					Your Choice of meat mixed with melted Monterey jack cheese, served with salsa, corn tortillas, rice & house black beans.
					Meat selections:Pollo Adobado, Carne Asada, or Al Pastor
				</em>
			</p>
		</article>

		<aside class="aside-description">
			<h1>La Parrilla Specialties</h1>
			<h2>Chicken</h2>
			<p>Served with housemade refried black beans and rice.</p>
			<p>
				Mole Poblano Enchiladas$13.50
				These enchiladas are topped with mole sauce (a hot chili and rich chocolate sauce), chicken, sour cream, queso fresco, onion and sesame seeds.
			</p>
			<p>Michoacanas Enchiladas$13.50
				Red guajillo sauce, cooked into the tortilla, topped with shredded chicken, diced carrots and potatoes, lettuce, sour cream, queso fresco & onion.
			</p>
			<p>
				<h2>Pork</h2>
				<p>
					Chili Verde Plate Pork meat with salsa verde with a side of house black beans, rice and corn tortillasPork meat with salsa verde with a side of house black beans, rice and corn tortillas.$13.00
				</p>
				<p>
					PIBIL (PE-BILL) DISHES
					The following specialties...
				</p>
				<p>
					Mixotes$13.50
					Marinated pork with cactus, steamed in our authentic sauce served with corn tortillas
				</p>
				<p>Panuchos$13.50
					Two deep fried corn tortillas topped with house black beans, shredded marinated sweet and sour pork, topped with marinated red onions and spicy habanero salsa on the side.
				</p>
				<p>Tacos Pibil$13.50
					Three soft corn tortilla tacos filled with shredded marinated sweet and sour pork, topped with marinated red onions & spicy habanero salsa on the side.
				</p>
			</aside>

		<article class="article-last">
			<h2>A la carte</h2>
			<p>
				<strong>Taco &nbsp; $2.50</strong>
				<br>
				<em>
					Soft Corn tortilla topped with cilantro, onion & salsa. Choose either Carne Asada (Steak), Al Pastor (Spicy Marinated Pork), Chorizo (Spicy Sausage), or Pollo Adobado (Shredded Marinated Chicken).
				</em>
			</p>
			<p>
				<strong>Veggie Taco &nbsp; $2.50</strong>
				<br>
				<em>
					rice, beans, cilantro, onion, salsa, lettuce, queso fresco
				</em>
			</p>
			<p>
				<strong>
					Seafood Taco &nbsp; $5.50
				</strong>
				<br>
				<em>Your choice of Grilled Shrimp or Grilled Fish. Served with a side of rice.</em>
			</p>
			<p>
				<strong>Enchilada &nbsp; $4.00</strong>
				<br>
				<em>
					Choice of Chicken Enchilada, Suizas, Mole Poblano, Michoacanas or Veggie
				</em>
			</p>
			<p>
				<strong>Bean and Rice Burrito &nbsp; $6.50</strong>
				<br>
			</p>
			<p>
				<strong>Cheese Quesadilla &nbsp; $6.50</strong>
				<br>
				<em>
					Melted Monterrey Jack cheese in a flour tortilla. Served with housemade black beans.
				</em>
			</p>

			<h2>Seafood</h2>
<p>
Coctel de Camarones$16.00
Shrimp cured with lime, olive oil, house cocktail sauce, avoc1ado, cilantro and onion. Served with crackers.
hotCamarones a la Diabla$14.50
Shrimp sauteed in a spicy sauce served with a side salad, rice and corn tortillas.
Camarones al Mojo de Ajo$14.50
Shrimp sauteed in a garlic and lime marinade served with a side salad,rice and corn tortillas.
Zipolite Enchiladas$16.50
Two flour tortillas filled with our guacamole, covered in a rich pineapple and spicy chipotle sauce, sauteed shrimp, bell pepper & onion, served with a side salad & rice (Not available as a la carte)</p>
		</article>
	</section>
	<hr />
	<section class="section-menu">
		<article class="article-description">
			<h2>Soups and Salads</h2>
			<p>
				<strong>Taco Salad &nbsp; $7.00</strong><br>
				<em>Tostadas, beans, lettuce, cheese, pico de gallo, guacamole and sour cream</em>
			</p>
			<p>
				<strong>Xochitl (S OH-sheel) &nbsp; $7.00</strong><br>
				<em>Shredded chicken breast marinated in mild salsa</em>
			</p>
			<p>
				<strong>Parrilla House Salad &nbsp; $3.50</strong><br>
				<em>
					Shredded lettuce mixed with pico de gallo, pineapple and our house dressing.
				</em>
			</p>

			<h2>Tortas-warm sandwich</h2>
			<p>
				<strong>Tortas &nbsp; $9.75</strong><br>
				<em>
					served on Bolillo (Mexican Bread)
					Filled with melted Monterey jack cheese, housemade refried black beans, tomato, onion, guacamole, and our house dressing (jalapeno or chipotle). Choose Carne Asada, Al Pastor, Chorizo or Pibil.
				</em>
			</p>
			<p>
				<strong>Specialty Cubana Torta &nbsp; $10.50</strong><br>
				<em>
					Our torta with Asada, Chorizo, Al Pastor.
				</em>
			</p>
			<p>
				<strong>Specialty Pambazo Torta &nbsp; $10.50</strong><br>
				<em>
					Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour
				</em>
			</p>
			<h2>Burritos</h2>
			<p>Flour tortilla filled with your choice of meat, rice, beans, cilantro, onion, sour cream and salsa.</p>
			<p>
				<strong>Burrito &nbsp;$6.50</strong><br>
				<em>
					Carne Asada (Steak), Al Pastor (Spicy Marinated Pork), Pollo Adobado (Shredded Marinated Chicken), Chili Verde (Pork meat with salsa verde)
				</em>
			</p>
			<p>
				<strong>No Meat Burrito  $6.00</strong><br>
				<em>Rice, beans, lettuce, cilantro, onion, salsa</em>
			</p>
			<p>
				<strong>Veggie Burrito &nbsp; $8.00</strong><br>
				<em>
					Carrots, potatoes, bell pepper, onion, mushrooms, and cactus.
				</em>
			</p>
			<p>
				<strong>Seafood Burrito &nbsp; $11.50</strong><br>
				<em>
					Grilled Shrimp or Grilled Sea Bass burrito.
				</em>
			</p>
		</article>

		<aside class="aside-description">
			<h2>Enchiladas</h2>
			<p>
				All entrees come with three of the SAME type of enchiladas served with mexican rice and house black beans on the side. Choose Verdes (Zesty) or Rojas (Mild) sauce. (Please order A la Carte if you would like to mix different types)
			</p>
			<p>
				<strong>Enchiladas &nbsp; $13.25</strong><br>
				<em>Shredded chicken, topped with sour cream, queso fresco, cilantro & onion.</em>
			</p>
			<p>
				<strong>Suizas Enchiladas &nbsp;$13.25</strong><br>
				<em>Shredded chicken, melted Monterey Jack cheese topped with sour cream & onion.</em>
			</p>
			<p>
				<strong>Veggie Enchiladas &nbsp;$13.25</strong><br>
				<em>Potatoes, bell pepper, onions, mushrooms, cactus & queso fresco.</em>
			</p>
			<h2>Alambres - like fajitas, only Better!</h2>
			<p>Served with zesty salsa, steamed corn tortillas, rice and housemade refried black beans and rice.</p>
			<p>
				<strong>Clasico Alambre &nbsp; $13.50</strong><br>
				<em>Steak, bacon, mushrooms, bell pepper, onions, and melted cheese</em>
			</p>
			<p>
				<strong>Cubano Alambre &nbsp; $13.50</strong><br>
				<em>Asada, Chorizo, Al Pastor, mushrooms, bell pepper, onions and melted cheese</em>
			</p>
			<p>
				<strong>Al Pastor Alambre$13.50</strong><br>
				<em>Marinated pork, pineapple, mushrooms, bell pepper, onions and melted cheese</em>
			</p>
			<p>
				<strong>Pechuga Alambre$13.500</strong><br>
				<em>Chicken breast, cactus, mushrooms, bell pepper, onions and melted cheese</em>
			</p>
			<p>
				<strong>Veggie Alambre$13.50</strong><br>
				<em>Grilled carrots, potatoes, bell pepper, onions, mushrooms, cactus, and melted cheese</em>
			</p>
			<p>
				<strong>Seafood Alambre$16.50</strong><br>
				<em>Shrimp, mushrooms, bell pepper, onion and melted</em>
			</p>
		</aside>

		<article class="article-last">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>

			<p>
			Sides
Side of Sour Cream$1.00
Side of Pickled Jalapenos$1.00
Side of Green Salsa$1.00
Side of Red Salsa$1.00
Side of Habanero Salsa$1.00
Side of Chipotle Sauce$1.00
Side of Fresh Green Leaf Lettuce$1.00
Tortillas(3) Corn$1.00
Tortillas(3) Flour$1.00
Side of Mole Sauce$2.00
Side of Pico de Gallo$2.00
Side of Housemade Mexican Rice$2.00
Side of Housemade Refried Black Beans$2.00
Side of Mexican Cheese$2.00
Side of Monterrey Jack Cheese$2.00
Side of Extra Veggies$3.00
Side of Extra Meat$3.00
Side of Pechuga (Grilled Chicken)$4.00
Side of Small Guacamole$4.00
Side of Grilled Shrimp$5.00
Side of Large Guacamole$7.00
Side of Grilled Sea Bass$5.00
Kid's Menu
All meals come with a small drink.
Kid's Burrito Meal - Beans, cheese and rice & cheese, served with rice and beans$5.50
Kid's Cheese Quesadilla Meal, served with rice and beansl$5.50
Kid's Nachos$5.50
Topped with House Beans and Melted Monterey Jack Cheese (Sour Cream upon request)
</p>
		</article>
	</section>
</div>	
