---
title: La Parrilla | Menu
---

<div class="container role">
	<h1>Menu</h1>
	<section class="section-menu">
		<article class="article-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>

		<aside class="aside-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</aside>

		<article class="article-last">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>
	</section>
	<hr />
	<section class="section-menu">
		<article class="article-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>

		<aside class="aside-description">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</aside>

		<article class="article-last">
			<p>
				<strong>Animal Crackers &nbsp; 10</strong><br>
				<em>chicharron -&nbsp;beef cracklins’ -&nbsp;crispy pig ears -&nbsp;sriracha lime</em>
			</p>
		</article>
	</section>
</div>	
